<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <ExcludeByAttribute>GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
          <ExcludeByFile>**/*Program.cs,**/Migrations/**/*</ExcludeByFile>
          <Thresholds>
            <Threshold>
              <Metric>line</Metric>
              <Threshold>80</Threshold>
              <Value>80</Value>
            </Threshold>
          </Thresholds>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
